{% extends 'layout/layout.html' %}
{% block content %}
<section class='container'>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Create Date</th>
      </tr>
    </thead>
    <tbody>
        {% for board in boards %}
      <tr>
        <th scope="row">{{board.pk}}</th>
        <td>{{board.author.username}}</td>
        <td><a href="{% url 'board_read_one' board.pk %}" class="title">{{board.title}}</a></td>
        
        <td>{{board.create_at}}</td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <a href = "{% url 'board_create' %}" class = "btn btn-outline-primary my-2 my-sm-0">Create</a>
  
  
</section>
{% endblock %}
